

@font-face {
  font-family: 'lowerfont';
  src: url('../fonts/pdown.ttf');
  font-style: oblique;
  
  /* animation part for the awesome swing :3 */
  -webkit-animation-name: swing;
  -webkit-animation-duration: 1s;
  animation-name: swing;
  animation-duration: 1s;
}

#message {
	display: none;
	padding: 10px;
    position: absolute;
    top: 5%;
    left: 5%;
	background-color: #211e1e;
	outline: thick ridge silver;
	
	/* animation part for the awesome swing :3 */
	-webkit-animation-name: swing;
	-webkit-animation-duration: 1s;
	animation-name: swing;
	animation-duration: 1s;
}

#message-top-right {
	display: none; /* clearifys that the box should be only showed if it get's called */
	padding: 10px;
    position: absolute;
    top: 5%;
    right: 5%;
	background-color: #211e1e;
	outline: thick ridge silver;
	box-shadow: 0px 15px 20px gray;

	/* animation part for the awesome swing :3 */
	-webkit-animation-name: swing;
	-webkit-animation-duration: 1s;
	animation-name: swing;
	animation-duration: 1s;
}

#message-top-middle {
	display: none;
	padding: 10px;
    position: absolute;
    top: 5%;
    right: 40%;
	background-color: #211e1e;
	outline: thick ridge silver;
	
	/* animation part for the awesome swing :3 */
	-webkit-animation-name: swing;
	-webkit-animation-duration: 1s;
	animation-name: swing;
	animation-duration: 1s;
}

#message-middle-middle {
	display: none;
	padding: 10px;
    position: absolute;
    top: 50%;
    right: 40%;
	background-color: #211e1e;
	outline: thick ridge silver;
	
	/* animation part for the awesome swing :3 */
	-webkit-animation-name: swing;
	-webkit-animation-duration: 1s;
	animation-name: swing;
	animation-duration: 1s;
}

#message-middle-left {
	display: none;
	padding: 10px;
    position: absolute;
    top: 50%;
    left: 5%;
	background-color: #211e1e;
	outline: thick ridge silver;
	
	/* animation part for the awesome swing :3 */
	-webkit-animation-name: swing;
	-webkit-animation-duration: 1s;
	animation-name: swing;
	animation-duration: 1s;
}

#message-middle-right {
	display: none;
	padding: 10px;
    position: absolute;
    top: 50%;
    right: 5%;
	background-color: #211e1e;
	outline: thick ridge silver;
	
	/* animation part for the awesome swing :3 */
	-webkit-animation-name: swing;
	-webkit-animation-duration: 1s;
	animation-name: swing;
	animation-duration: 1s;
}

#message-bottom-middle {
	display: none;
	padding: 10px;
    position: absolute;
    bottom: 5%;
    right: 40%;
	background-color: #211e1e;
	outline: thick ridge silver;
	
	/* animation part for the awesome swing :3 */
	-webkit-animation-name: swing;
	-webkit-animation-duration: 1s;
	animation-name: swing;
	animation-duration: 1s;
}

#message-bottom-left {
	display: none;
	padding: 10px;
    position: absolute;
    bottom: 5%;
    left: 5%;
	background-color: #211e1e;
	outline: thick ridge silver;
	
	/* animation part for the awesome swing :3 */
	-webkit-animation-name: swing;
	-webkit-animation-duration: 1s;
	animation-name: swing;
	animation-duration: 1s;
}

#message-bottom-right {
	display: none;
	padding: 10px;
    position: absolute;
    bottom: 5%;
    right: 5%;
	background-color: #211e1e;
	outline: thick ridge silver;
	
	/* animation part for the awesome swing :3 */
	-webkit-animation-name: swing;
	-webkit-animation-duration: 1s;
	animation-name: swing;
	animation-duration: 1s;
}

.notify {
	font-family: 'lowerfont';
}



@-webkit-keyframes swing {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes swing {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
	
	
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);

  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);

  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);

  }

  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
	transform: rotateZ(-10deg);
	
	
  }

  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
	transform: rotateZ(10deg);

  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
	
	
  }
}



